:root {
    --cor-da-fonte: #333333;
    --cor-secundaria: #000000;
    --fonte-primaria: 'Lato';
}

body {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    background-color: #FFFFFF;
}

.cabecalho {
    background-color: #E0E0E0;
    color: var(--cor-da-fonte);
    font-weight: 600; 
}

.container {
    width: 1100px;
    margin: auto;
}

.container__cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px; 
    padding: 20px 0px;
}

.container__logo {
    display: flex;
    gap: 1em;
    align-items: center;
}

.container__menu {
    display: flex;
    background-color: #FFFFFF;
    padding: 1em;
    align-items: center;
    font-size: 16px;
}

.container__menu li {
    padding: 0em 0.5em;
}

.container__menu a {
    text-decoration: none;
    color: var(--cor-da-fonte);
}

.menu--itema {
    border-right: 1px solid #333333;
}

.botao__menulateral {
    display: none;
}

.menu__lateral {
    display: none;
}

.container__transacao {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    margin-top: 30px;
    align-items: baseline;
    gap: 20px;
}

.div__compra {
    padding: 1.3em;
    border: 1px solid #979797;
}

.titulo__compra {
    margin-bottom: 1.5em;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}

.lista__input  {
    font-size: 14px;
    color: var(--cor-da-fonte);
    align-items: end;
}

.lista__input p {
    margin-bottom: 0.5em;
}

.lista__input li {
    margin: 0.5em 0em;
}

.select--transacao {
    width: 100%;
    padding: 0.5em;
}

.listainput__text {
    width:100%;
    padding: 0.5em;
    box-sizing: border-box;
    margin: 0 -2px;
}

.select-transacao, .listainput__text {
    margin: 0;    
}

.botao__comprar {
    font-family: var(--fonte-primaria);
    color: #FFFFFF;
    width: 100%;
    background-color:#333333;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    padding: 7.5px 0px;
    margin-top: 1em;
}

.div__extrato {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.titulo__extrato {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 19px;
    text-align: center;
}

.listasubtitulo__extrato {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #979797;
    padding-bottom: 0.5em;
    font-weight: 700;
}

.subtitulo-mercadoria {
    text-align: left;
    margin-left: 7%;
}

.subtitulo-valor {
    text-align: right;
    margin-right: 20px;
}

.container__lista {
    display: grid;
    grid-template-rows: auto;
    
}

.linha {
    display: grid;  
    grid-template-columns: 7% 50% 43%;
    border-bottom: 1px solid #979797;
}

.operador {
    text-align: center;
}

.valor {
    text-align: end;
    margin: 0px 20px;
}

.operador, .produto, .valor {
    padding: 0.5em 0em;
}

.lista__resultado {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #979797;
    margin-top: 3px;
    font-weight: 700;
}

.titulo-total {
    margin: 11px 0% 0% 7%; 
}

.titulo-valor {
    margin: 11px 20px 0% 0%; 
}

.titulo-saldo {
    text-align: end;
    margin-right: 20px;
    font-size: 10px;
}

/* CSS para Tablet */
@media screen and (max-width: 768px) {
    .header {
        position: relative;        
    }

    .container__cabecalho {
        padding: 10px 0px;
    }

    .container__logo {
        flex-grow: 1;
    }

    .container__logo p {
        flex-grow: 1;
        text-align: center;
    }

    .container__transacao {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 40px;
    }

    .container__menu {
        display: none;
    }

    .botao__menulateral {
        display: block;
        background-color: #E0E0E0;
        border: 0;
        margin: 0;
        padding: 0;
        width: 43px;
        height: 41px;
    }

    .botao__fechar-img {
        width: 24px;
        height: 24px;
    }

    .menu__lateral {
        display: none;
        position: absolute;
        width: 40vw;
        height: 100vh;
        right: -100vw;
        top: 0vh;
        background-color: #333333;
        font-size: 16px;
    }

    .menu__lateral--ativo {
        display: block;
        position: absolute;
        width: 40vw;
        height: 100vh;
        right: 0vw;
        top: 0vh;
        background-color: #333333;
        font-size: 16px;  
    }

    .botao__fechar-img {
        padding: 1.5em;
        display: block;
    }

    .menulateral-opcoes {
        text-align: end;
        text-decoration: none;
        color: #FFFFFF;
        display: block;
        padding: 1em;
    }        

    .menulateral-opcoes:active {
        background-color: #C4C4C4;
        color: #333333;
        transition: 0s;
    }

    .lista__input {
        display: grid;
        grid-template-columns: 0.5fr 1fr 0.5fr;
        column-gap: 1.5em;
    }

    .listainput__produto input {
        width: 100%;
        box-sizing: border-box;
    }

    .botao__comprar {
        width: 200px;
        justify-self: end;
    }
}

/* CSS para tablet */
@media screen and (max-width:1154px) {
    .container {
        width: 95vw;
    }  

    .div__compra {
        display: grid;
    }

    .lista__input {
        padding: 0;
    }
}

/* CSS para Mobile */
@media screen and (max-width: 411px) {
    .container__transacao {
        margin-top: 20px;
    }
    
    .menu__lateral--ativo {
        width: 85vw;
    }

    .div__compra {
        padding: 0;
        padding-bottom: 28px;
        border: 0;
        width: inherit;
        border-bottom: 1px solid #979797;
    }

    .titulo__compra {
        display: none;
    }

    .lista__input {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 0;
        margin: 0;
    }
    
    .listainput__text {
        width: 100%;
        box-sizing: border-box;
    }

    .botao__comprar {
        width: 100%;
        margin: 0em;
        margin-top: 20px;
    }

    .subtitulo-valor {
        margin-right: 20px;
    }
}